{
    "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
                "ie": 9,
                "chrome": "58"
            },
            "useBuiltIns": "usage",
            "corejs": 3
          }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": 3,
                "helpers": true,
                "regenerator": true,
                "useESMoudules": false
            }
        ]
    ]
}
